.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 500;
    font-size: 1.3rem;
    font-weight:bold;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    background-color: white;
}