.mail{
    width: 100%;
    margin-top: 50px;
    background-color: #003580;
    color: white;
}

.mailAgain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.mailTitle{
    font-size: 25px;
}

/* .mailInputContainer{
    display: flex;
    gap: 5px;
} */

.mailInputContainer>input{
    width: 400px;
    height: 30px;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.mailInputContainer>button{
    width: 150px;
    height: 51px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    font-size: 16px;
}